* {
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: "CaskaydiaCoveNF";
  font-size: 14px;
  font-weight: 800;
}

window#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
  border-radius: 15px;
  border: 3px solid #cba6f7;
}

#disk,
#mpris,
#custom-updater,
#network,
#clock,
#tray,
#workspaces {
  margin-left: 9px;
  padding-right: 0px;
  background-color: #313244;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 10px;
}

#workspaces button {
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #cdd6f4;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: #6c7086;
  border-radius: 10px;
}

#workspaces button.urgent {
  background-color: #7f849c;
  border-radius: 10px;
}

#window {
  background-color: #1e1e2e;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 10px;
  padding: 0px 10px 0px 7px;
}

#custom-updater {
  background-color: transparent;
  color: #f38ba8;
}

#battery {
  background-color: transparent;
  color: #a6e3a1;
}

#backlight {
  background-color: transparent;
  color: #f38ba8;
}

#network {
  color: #89b4fa;
  background-color: #1e1e2e;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

#pulseaudio {
  background-color: transparent;
  color: #b4befe;
}

#pulseaudio.microphone {
  color: #b4befe;
}

#memory {
  background-color: transparent;
  color: #f9e2af;
}

#bluetooth {
  color: #89b4fa;
}

#clock {
  color: #1e1e2e;
  background-color: #a6e3a1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

#disk {
  color: cyan;
}

#tray {
  margin-right: 10px;
}

#custom-spotify {
  color: #1e1e2e;
  background-color: #a6e3a1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

#custom-firefox {
  color: #1e1e2e;
  background-color: #f38ba8;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

#custom-notification {
  background-color: transparent;
  color: #f38ba8;
}
