* {
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: "CaskaydiaCoveNF";
  font-size: 12px;
  font-weight: 800;
}

window#waybar {
  background: #282828;
  color: #d79921;
}

#disk,
#mpris,
#custom-updater,
#network,
#clock,
#tray,
#workspaces {
  margin-left: 20px;
  padding-right: 0px;
  background-color: #282828;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 1px;
}

#workspaces button {
  padding-right: 4px;
  color: #d3869b;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: #d3869b;
  border-radius: 10px;
}

#workspaces button.urgent {
  background-color: #458588;
  border-radius: 10px;
}

#window {
  background-color: #3c3836;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 10px;
  padding: 0px 10px 0px 7px;
}

#custom-updater {
  background-color: transparent;
  color: #f38ba8;
}

#battery {
  background-color: transparent;
  color: #a6e3a1;
}

#backlight {
  background-color: transparent;
  color: #f38ba8;
}

#network {
  color: #fabd2f;
  background-color: #3c3836;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

#pulseaudio {
  background-color: transparent;
  color: #b4befe;
}

#pulseaudio.microphone {
  color: #b4befe;
}

#memory {
  background-color: transparent;
  color: #f9e2af;
}

#cpu {
  background-color: transparent;
  color: #f9e2af;
}

#bluetooth {
  color: #89b4fa;
}

#clock {
  color: #1e1e2e;
  background-color: #a6e3a1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

#disk {
  color: cyan;
}

#tray {
  margin-right: 10px;
}

#custom-spotify {
  color: #1e1e2e;
  background-color: #a6e3a1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

#custom-firefox {
  color: #1e1e2e;
  background-color: #f38ba8;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

#custom-notification {
  background-color: transparent;
  color: #f38ba8;
}
